<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462963617034-1r8as35p4ik4lgppm8bob4u6rb86qld4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462963617034-1r8as35p4ik4lgppm8bob4u6rb86qld4</string>
	<key>API_KEY</key>
	<string>AIzaSyAuP5v27hs2JVUEpIZchNbLEtdGHhLiTsw</string>
	<key>GCM_SENDER_ID</key>
	<string>462963617034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.ibb.gov.SuloCenterApp</string>
	<key>PROJECT_ID</key>
	<string>sulocenterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sulocenterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462963617034:ios:d544db8db88ce413399ef3</string>
</dict>
</plist>